* {
    font-family: 'Bitter', serif;
}



.handbags {
   background-image: url(https://images.unsplash.com/photo-1566150908117-e99fa1513af7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)  ;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-origin:padding-box;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 150px 0 10px 10px;
   margin-top: 15px;
   grid-area: handbags;
}
.watch {
    background-image: url(https://images.unsplash.com/photo-1623998021450-85c29c644e0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1257&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 150px 0 10px 10px;
    margin-top: 15px;
    
    grid-area: watch;
}
.shoes {
    background-image: url(https://images.unsplash.com/photo-1533867617858-e7b97e060509?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 150px 0 10px 10px;
    margin-top: 15px;
    grid-area: shoes;
    color: white;
}
img {
    width: 100%;
}
.information {
    grid-area: information;
}
.customer {
    grid-area: customer;
}
.extras {
    grid-area: extras;
}
.myaccount {
    grid-area: myaccount;
}
.about {
    grid-area: about;
}
.contact {
    grid-area: contact;
}
.brands {
    grid-area: brands;
}
.account {
    grid-area: account;
}
.delivery {
    grid-area: delivery;
}
.returns {
    grid-area: returns;
}
.gift {
    grid-area: gift;
}
.order {
    grid-area: order;
}
.privacy {
    grid-area: privacy;
}
.site {
    grid-area: site;
}
.affiliater {
    grid-area: affiliater;
}
.withlist {
    grid-area: withlist;
}
.temps {
    grid-area: temps;
}
.specials {
    grid-area: specials;
}
.newsletter {
    grid-area: newsletter;
}
.gridfooter {
    
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "information customer extras     myaccount"
                          "about      contact  brands     account" 
                           "delivery   returns gift       order"
                           "privacy    site    affiliater withlist"
                           "temps      .       specials   newsletter";
    grid: 10px;
    text-decoration: none;



}



.mens {
    width: 100%;
}
.gridheader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    gap: 15px;
    grid-template-areas: "handbags shoes  watch  ";
}
.gridmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

}
.sella {
    padding-top: 2rem;
    display:block;
    text-align: center;
    
    
}
a:hover {
    text-decoration: underline;

}
.number {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 70px 0 70px 0;
    margin: 70px 0 70px 0;
    
}
.footercolor {
    text-decoration: none;
    color: gainsboro;
    font-size: 1rem;
}
.footercolor:hover {
    color: black;
    
    
}
.linkheader {
    color: sandybrown;
    text-decoration: none;
    font-size: 30px;
}
.linkheader:hover {
    color: sandybrown;
    
}


    
                        
                         
    

