* {
    font-family: 'Azeret Mono', monospace;
}
.img1 {
    
    width: 60%;
    border-radius: 50px;
}
.photo {
    box-shadow: 0 0 25px paleturquoise;
    width: 30%;
    height: 100%;
    
    
    margin: 1rem auto 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.rbock{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conatiner2 {

}
.block {
    box-shadow: 0 0 25px paleturquoise;
    margin: 20px;
    
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block2{ 
    height: 50%;
    height: 45%;
    margin: 20px;
    box-shadow: 0 0 25px paleturquoise;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-decoration{
    font-size: 1rem;
}
.all {
    height: 90vh;
    width: 90vw;
}
.h33 {
    
    padding: 0 140px;
}
p {
    color:gray;
}
.block:hover  {
    box-shadow: 0 0 115px paleturquoise;
}
.block2:hover {
    box-shadow: 0 0 115px paleturquoise;
}
.photo:hover{
    box-shadow: 0 0 115px paleturquoise;
}