/*color crimsom
black #0d0d0d 
ligth-bg #1a1a1a
white #fff
light-color #aaa
box-shadow:0 0.5rem 1rem rgba(0,0,0,0.7)*/


html::-webkit-scrollbar-track {
    background: black
   
}
html::-webkit-scrollbar-thumb{
    background: crimson;
   
}
body {
    background: black;
}
.navbar a {
    background: #1a1a1a;
    color: white;
}
.navbar i{
    color: crimson;
}
.navbar a:hover  {
    background: crimson;
    
}
.navbar a:hover i {
    color: white;
}
.content h3 {
    color: white;
}
.content span {
    color: crimson;
}
.content p {
    color: #a7a4a4;
}
.btn {
    background: crimson;
    color: white;
}
.btn i {
    background: white;
    color: crimson;
}
.aboutme h1{
    color: white;
    text-align: center;
}
.aboutme span{
    color: crimson;
}
.content_about {
    color: white;
}
.personal1 span{
    color: #DC143B;
}
.personal2 span{
    color: #DC143B;
}
.aboutme span{
    color: crimson;
}
.content_about {
    color: white;
}
.about_skills span {
    color: #dc143c;
}
.about_img {
    background: #1a1a1a;
}
    



