body{
    font-family: 'Noto Sans', sans-serif;
}
img{
    width:20%;
    height: 10%;
    border-radius: 2px;
    transition: 0.2s;
    
    
}
img:hover{
    
    transform: scale(2.5);
}
span{
    color:  red;
}

/*MEDIA*/

@media (min-width: 768px){
    img{
        width:4%;
        height: 4%;
        border-radius: 2px;
        transition: 0.2s;
        
        
    }
}
